.gradle/
.settings/
build/
bin/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

.project
.classpath
.vscode/
.idea/
*.lock
logs/
frontend/generated
frontend/index.html
package*.json
tsconfig.json
types.d.ts
node_modules/
vite.*
tags*
.vs/
.winget
src/main/resources/application-local.properties
src/main/resources/application-prod.properties
springbootvaadin*.*

